.game-board {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.bubble {
    width: 100%;
    height: 40%;
}

.rolls {
    width: 100%;
    height: 60%;
}

.bankroll {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin-right: 10px;

}

.menu {
    width: 100%;
    height: 60%;
}


.box-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    height: 100px;
}

.repeater-numbers {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    height: 30px;
    width: 110%;
    align-self: center;
}

.front-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
}

.front-section {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    align-items: center;
    width: 40%;
    height: 90%;
    padding-top: 20px;
    position: relative;
    left: 15px;
}

.front-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.middle-section {
    display: grid;
    grid-template-rows: 1.23fr 1.5fr 1.5fr 1.5fr 1.5fr 1.23fr;
    align-items: center;
    width: 25%;
    height: 90%;
    padding-top: 20px;
    position: relative;
    right: 15px;
}

.middle-boxes {
    display: flex;
    width: 100%;
    height: 100%;
}

.bonus-section {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    height: 90%;
    width: 40%;
    padding-top: 20px;
}

.ats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.all {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tall {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.small {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hops {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.hop-sevens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.bet-print {
    position: absolute;
}

.chip-stack {
    position: absolute;
    z-index: 10;
    height: 30px;
    width: 30px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    margin-top: 6px;
}

.chip-stack-amount {
    position: absolute;
    z-index: 20;
    height: 30px;
    width: 30px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, .75);
    font-weight: bold;
    margin-top: 6px;
}

.chip-stack-amount-black {
    position: absolute;
    z-index: 20;
    height: 30px;
    width: 30px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .75);
    margin-top: 6px;
}

.chip {
    height: 27px;
    width: 27px;
    border-radius: 50%;
}

.place-puts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.pass {
    border: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pass-odds {
    border: 1px solid black;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dontpass {
    border: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dontpass-odds {
    border: 1px solid black;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.come {
    border: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dontcome {
    border: 1px solid black;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.field {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.world {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fire {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.other-bets {
    display: flex;
}

.anycraps {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.anyseven {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater2 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater3 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater4 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater5 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater6 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater8 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater9 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater10 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater11 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repeater12 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-4 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-5 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-6 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-8 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-9 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-10 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-4 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-5 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-6 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-8 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-9 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-10 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-4 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-5 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-6 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-8 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-9 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-10 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-4-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-5-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-6-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-8-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-9-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-10-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-4-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-5-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-6-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-8-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-9-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.put-10-odds {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.two {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ace-deuce {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hard-4 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hard-6 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hard-8 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hard-10 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.eleven {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.twelve {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rack {
    width: 75%;
    height: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-self: center;
    padding-top: 10px;
}

.rack-chip {
    background-color: violet;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    width: 20%;
    height: 100vh;
}

.right-side {
    width: 20%;
    height: 100vh;
}

.roll-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player-rack {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    text-align: right;
}

.game-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hop13 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop22 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop14 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop23 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop15 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop24 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop33 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop44 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop35 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop26 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop36 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop45 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop46 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop55 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop16 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop25 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hop34 {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table-code {
    position: absolute;
    top: 0;
    right: 0;
}

.game-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}

.multiplayer-box {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 90%;
    width: 75%;
    margin-left: 30px;
}

.mp-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.mp-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.mp-tab-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(123, 255, 123, .75);
    font-weight: bold;
}

.mp-list {
    height: 100%;
    width: 100%;
}

.rank-list {
    background-color: red;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}


.shooters-list {
    background-color: blue;
    height: 100%;
    width: 100%;
}

.player-rank {
    list-style: upper-roman;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    padding: 3px;
}

ol {
    padding: 0;

}

.roll-list-container {
    background-color: violet;
    height: 90%;
    overflow-y: scroll;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}